/**
* @name base16 Discord
* @author @bypass_
* @version 0.1.0
* @description Built using Aether and Pywal
* @source https://github.com/imbypass/base16-Discord
**/

/* import the parent */
@import url('https://imbypass.github.io/base16-discord/omarchy-discord.theme.css');

:root {
    --color00: #1e1e1e;
    --color01: #cf6a4c;
    --color02: #8f9d6a;
    --color03: #f9ee98;
    --color04: #7587a6;
    --color05: #9b859d;
    --color06: #afc4db;
    --color07: #a7a7a7;
    --color08: #5f5a60;
    --color09: #cf6a4c;
    --color10: #8f9d6a;
    --color11: #f9ee98;
    --color12: #7587a6;
    --color13: #9b859d;
    --color14: #afc4db;
    --color15: #ffffff;
}
